@import './variables.scss';

.chart {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &__main {
        flex: 1;
        position: relative;

        ::ng-deep svg {
            $lineColor: $theme-gray-darker;
            $textColor: $theme-gray-dark;
            $focusColor: $theme-base;
            $line-stroke: $theme-olive;
            $bar-fill: $theme-olive;
            outline: none;

            .axis {
                path,
                line {
                    fill: none;
                    stroke: $lineColor;
                    stroke-width: 1;
                    shape-rendering: crispEdges;
                }

                text {
                    color: $textColor;
                }
            }

            .chart-line {
                stroke: $line-stroke;
            }

            .chart-bar {
                outline: none;
                stroke: transparent !important;
                fill: $bar-fill;
                fill-opacity: 1 !important;
            }

            .focus circle {
                fill: $focusColor;
            }
        }
    }
}
